In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [3]:
from sqlalchemy import create_engine, text
import pandas as pd

In [4]:
#Q10
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')

with engine.connect() as con:
    query = text("""
    SELECT Facilities.name, 
           SUM(CASE 
               WHEN Bookings.memid = 0 THEN Bookings.slots * Facilities.guestcost 
               ELSE Bookings.slots * Facilities.membercost 
           END) AS Revenue 
    FROM Facilities 
    JOIN Bookings ON Facilities.facid = Bookings.facid 
    GROUP BY Facilities.name 
    HAVING Revenue < 1000 
    ORDER BY Revenue;
    """)

    rs = con.execute(query)
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    print(df)

            name  Revenue
0   Table Tennis      180
1  Snooker Table      240
2     Pool Table      270

In [5]:
#Q11
with engine.connect() as con:
    query = text("""
    SELECT f.name AS Facility_Name, 
           SUM(b.slots) AS Total_Member_Slots
    FROM Facilities AS f
    JOIN Bookings AS b ON f.facid = b.facid
    WHERE b.memid != 0
    GROUP BY f.name
    ORDER BY Total_Member_Slots DESC;
    """)

    rs = con.execute(query)
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    print(df)

     Facility_Name  Total_Member_Slots
0  Badminton Court                1086
1   Tennis Court 1                 957
2   Massage Room 1                 884
3   Tennis Court 2                 882
4    Snooker Table                 860
5       Pool Table                 856
6     Table Tennis                 794
7     Squash Court                 418
8   Massage Room 2                  54

In [7]:
#Q12
with engine.connect() as con:
    query = text("""
    SELECT f.name AS Facility_Name, 
           SUM(b.slots) AS Total_Member_Slots
    FROM Facilities AS f
    JOIN Bookings AS b ON f.facid = b.facid
    WHERE b.memid != 0
    GROUP BY f.name
    ORDER BY Total_Member_Slots DESC;
    """)

    rs = con.execute(query)
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    print(df)

     Facility_Name  Total_Member_Slots
0  Badminton Court                1086
1   Tennis Court 1                 957
2   Massage Room 1                 884
3   Tennis Court 2                 882
4    Snooker Table                 860
5       Pool Table                 856
6     Table Tennis                 794
7     Squash Court                 418
8   Massage Room 2                  54

In [8]:
with engine.connect() as con:
    query = text("""
    SELECT 
    DATE(starttime) AS month,
    Facilities.name AS facility_name,
    SUM(slots) AS total_slots
FROM 
    Bookings
JOIN 
    Facilities ON Bookings.facid = Facilities.facid
WHERE 
    memid != 0
GROUP BY 
    month, facility_name
ORDER BY 
    month DESC, facility_name;
    """)

    rs = con.execute(query)
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    print(df)

          month    facility_name  total_slots
0    2012-09-30  Badminton Court           24
1    2012-09-30   Massage Room 1           14
2    2012-09-30       Pool Table           18
3    2012-09-30    Snooker Table           14
4    2012-09-30     Squash Court            6
..          ...              ...          ...
702  2012-07-04   Tennis Court 1            6
703  2012-07-03   Massage Room 1            2
704  2012-07-03       Pool Table            2
705  2012-07-03    Snooker Table            2
706  2012-07-03     Table Tennis            2

[707 rows x 3 columns]